aniso8601
automium
automium_web
blinker
cffi
click
colorama
cryptography
Flask
Flask-JWT
Flask-JWT-Extended
Flask-RESTful
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
jwt
legacy
MarkupSafe
pycparser
PyJWT
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
uwsgi
